body {
	font-family: georgia;
	color: #333;
	font-size: 14px;
}
text {
	font-family: sans-serif;
	font-size: 11px;
}
.lineage rect {
	opacity: 0.2;
}
.path {
	fill: none;
}
.path.skip-season {
	stroke-dasharray: 2 3;
}
.entry circle {
}
.entry {
  cursor: pointer;
}
.entry text {
	font-size: 7px;
	fill: white;
	font-weight: bold;
	text-anchor: middle;
	transform: translateY(2px);
}
.constructor-title .title {
	font-weight: bold;
	font-size: 10px;
	text-anchor: middle;
}
.constructor-title .subtitle {
	fill: rgba(0, 0, 0, 0.4);
	font-style: italic;
	font-size: 8px;
	text-anchor: middle;
}
.year {
	text-anchor: start;
}
.tooltip {
	display: none;
}
.tooltip.show {
	display: block;
}
.tooltip rect {
	width: 140px;
	height: 26px;
	fill: #000000;
}
.tooltip text {
	fill: #ffffff;
	text-anchor: middle;
	transform: translate(70px, 16px);
}
.path.fade,
.entry.fade {
	opacity: 0.2;
}
